h1,
h2,
h3,
h4 {
    font-family: "Open Sans";
}

h1 {
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: $primary;
    display: flex;
    justify-content: center;
    font-size: 34px;
}

h1.home {
    color: $primary;
}